<?xml version="1.0" ?>
<robot name="bobert" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find bobert_sim)/urdf/materials.xacro" />
<xacro:include filename="$(find bobert_sim)/urdf/bobert.gazebo" />


    <link name="front_caster_link">
        <inertial>
            <origin xyz="0.008883494190598409 2.5168349770902594e-07 0.014445490146368443" rpy="0.0 -0.0 0.0" />
            <mass value="0.0725244069479015" />
            <inertia ixx="2.7397771561282355e-05" iyy="3.3186934701236485e-05" izz="3.855628895873967e-05" ixy="-1.264672750328935e-10" iyz="2.4252171540778117e-10" ixz="-9.437336960311729e-06" />
        </inertial>
        <visual name="front_caster_link_visual">
            <origin xyz="1.7763568394002505e-17 -2.7395105556035757e-17 1.509903313490213e-16" rpy="2.282925463002993e-16 -0.0 0.0" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/front_caster_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="aluminio_brillante" />
        </visual>
        <collision name="front_caster_link_collision">
            <origin xyz="1.7763568394002505e-17 -2.7395105556035757e-17 1.509903313490213e-16" rpy="2.282925463002993e-16 -0.0 0.0" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/front_caster_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="front_road_link">
        <inertial>
            <origin xyz="-8.100187187665143e-15 1.4654943925052067e-16 0.014150004402093064" rpy="0.0 -0.0 0.0" />
            <mass value="0.07675253696330073" />
            <inertia ixx="1.2683519006608245e-05" iyy="1.2683519005455678e-05" izz="1.698839546468347e-05" ixy="-2.710505431213761e-20" iyz="1.7008487755315355e-20" ixz="-1.9428818227645514e-20" />
        </inertial>
        <visual name="front_road_link_visual">
            <origin xyz="7.105427357601002e-17 1.3988810110276973e-16 0.014150004402092842" rpy="-2.0759469824460596e-15 -4.565850926006004e-16 1.5707963267948966" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/front_road_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="negro_caucho" />
        </visual>
        <collision name="front_road_link_collision">
            <origin xyz="7.105427357601002e-17 1.3988810110276973e-16 0.014150004402092842" rpy="-2.0759469824460596e-15 -4.565850926006004e-16 1.5707963267948966" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/front_road_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="rear_caster_link">
        <inertial>
            <origin xyz="0.008883569467141363 2.664120454026043e-07 -0.014445537529791393" rpy="0.0 -0.0 0.0" />
            <mass value="0.07252441405808593" />
            <inertia ixx="2.7397924151105785e-05" iyy="3.3187229983980054e-05" izz="3.8556415284196274e-05" ixy="-1.1574170975410632e-10" iyz="-2.2824299387186325e-10" ixz="9.43750915092365e-06" />
        </inertial>
        <visual name="rear_caster_link_visual">
            <origin xyz="-1.7763568394002505e-17 -9.80908925027372e-46 -1.6431300764452317e-16" rpy="-3.141592653589793 2.4441332084244723e-30 0.0" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/rear_caster_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="aluminio_brillante" />
        </visual>
        <collision name="rear_caster_link_collision">
            <origin xyz="-1.7763568394002505e-17 -9.80908925027372e-46 -1.6431300764452317e-16" rpy="-3.141592653589793 2.4441332084244723e-30 0.0" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/rear_caster_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="rear_road_link">
        <inertial>
            <origin xyz="-5.329070518200751e-17 8.29558643999917e-15 0.014150001994888348" rpy="0.0 -0.0 0.0" />
            <mass value="0.0767525369633007" />
            <inertia ixx="1.2683519005455109e-05" iyy="1.2683519006607968e-05" izz="1.6988395464682818e-05" ixy="0.0" iyz="8.784658105313154e-21" ixz="1.7020068283891097e-20" />
        </inertial>
        <visual name="rear_road_link_visual">
            <origin xyz="-5.329070518200751e-17 1.509903313490213e-16 0.014150001994888348" rpy="7.00114053383648e-30 -1.4701618656498296e-59 2.4441332084244723e-30" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/rear_road_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="negro_caucho" />
        </visual>
        <collision name="rear_road_link_collision">
            <origin xyz="-5.329070518200751e-17 1.509903313490213e-16 0.014150001994888348" rpy="7.00114053383648e-30 -1.4701618656498296e-59 2.4441332084244723e-30" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/rear_road_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="lidar_link">
        <inertial>
            <origin xyz="-0.0009843777465056293 2.2997331588466154e-05 -0.02864411674862879" rpy="3.141592653589793 -0.0 0.0" />
            <mass value="0.20415848439705392" />
            <inertia ixx="9.302536882837241e-05" iyy="9.294574277396092e-05" izz="0.0001350775310589884" ixy="-3.982022051511345e-08" iyz="5.3434309327327025e-08" ixz="-2.192488250285507e-06" />
        </inertial>
        <visual name="lidar_link_visual">
            <origin xyz="0.0 0.0 -0.03" rpy="0.0 -0.0 -1.5707963267948966" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/lidar_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="negro_pla" />
        </visual>
        <collision name="lidar_link_collision">
            <origin xyz="0.0 0.0 -0.03" rpy="0.0 -0.0 -1.5707963267948966" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/lidar_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="right_wheel_link">
        <inertial>
            <origin xyz="1.4479655769004077e-07 -3.1793306689564815e-08 0.05757045436259098" rpy="0.0 -0.0 0.0" />
            <mass value="1.1752432118368867" />
            <inertia ixx="0.0030595751956967593" iyy="0.003059858191359059" izz="0.0055220789261976695" ixy="3.5143634802345756e-09" iyz="5.888513582991148e-10" ixz="-8.543508776936102e-10" />
        </inertial>
        <visual name="right_wheel_link_visual">
            <origin xyz="4.4408920985006186e-18 8.881784197001253e-18 0.10999999999999995" rpy="3.141592653589793 2.8327492261615017e-16 0.0" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/right_wheel_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="negro_pla" />
        </visual>
        <collision name="right_wheel_link_collision">
            <origin xyz="4.4408920985006186e-18 8.881784197001253e-18 0.10999999999999995" rpy="3.141592653589793 2.8327492261615017e-16 0.0" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/right_wheel_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="left_wheel_link">
        <inertial>
            <origin xyz="-1.6451891907539534e-08 -4.5239767105798024e-08 0.05841680969667078" rpy="0.0 -0.0 0.0" />
            <mass value="1.1752451672396391" />
            <inertia ixx="0.0030231240527279005" iyy="0.0030234086536536572" izz="0.005522096278174209" ixy="3.0720068248495952e-09" iyz="-4.429464503519227e-10" ixz="-8.118146520546906e-11" />
        </inertial>
        <visual name="left_wheel_link_visual">
            <origin xyz="1.0844893505359415e-16 -8.881784197001253e-18 0.10999999999999997" rpy="3.141592653589793 -9.958396954279326e-17 0.0" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/left_wheel_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="negro_pla" />
        </visual>
        <collision name="left_wheel_link_collision">
            <origin xyz="1.0844893505359415e-16 -8.881784197001253e-18 0.10999999999999997" rpy="3.141592653589793 -9.958396954279326e-17 0.0" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/left_wheel_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="base_link">
        <inertial>
            <origin xyz="-0.01717545659055318 -0.00010408792627498569 0.44173020742982566" rpy="0.0 0.0 0.0" />
            <mass value="41.67201993600743" />
            <inertia ixx="6.563430909140029" iyy="6.304536468568875" izz="1.1848138696715038" ixy="0.0003444339639215064" iyz="-0.0013248597858302258" ixz="0.3848905236746323" />
        </inertial>
        <visual name="base_link_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/base_link.dae" scale="1 1 1" />
            </geometry>
        </visual>
        <collision name="base_link_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/base_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="imu_link">
        <inertial>
            <origin xyz="0.0 0.0 0.005" rpy="0.0 -0.0 0.0" />
            <mass value="0.00785" />
            <inertia ixx="1.3083333333212266e-07" iyy="1.3083333333385738e-07" izz="1.3083333333333328e-07" ixy="0.0" iyz="0.0" ixz="0.0" />
        </inertial>
        <visual name="imu_link_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/imu_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="imu_link_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/imu_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="camera_link">
        <inertial>
            <origin xyz="0.0 -5.92118946466748e-19 0.0125" rpy="0.0 -0.0 0.0" />
            <mass value="0.47100000000000003" />
            <inertia ixx="0.0004170312500000328" iyy="4.713924999977248e-05" izz="0.00041510799999999997" ixy="-4.462208380573429e-20" iyz="4.462208380573425e-20" ixz="0.0" />
        </inertial>
        <visual name="camera_link_visual">
            <origin xyz="0.0 8.881784197001253e-18 0.0125" rpy="0.0 -0.0 0.0" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/camera_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="camera_link_collision">
            <origin xyz="0.0 8.881784197001253e-18 0.0125" rpy="0.0 -0.0 0.0" />
            <geometry>
                <mesh filename="package://bobert_sim/meshes/camera_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>
    <link name="base_footprint"/>
    


    <joint name="base_link_imu_joint" type="fixed">
        <origin xyz="-0.01 0.0 1.2" rpy="0.0 -0.0 0.0" />
        <parent link="base_link" />
        <child link="imu_link" />
    </joint>
    <joint name="base_link_camera_joint" type="fixed">
        <origin xyz="-0.01 0.0 1.4" rpy="0.0 1.5708 0.0" />
        <parent link="base_link" />
        <child link="camera_link" />
    </joint>
    <joint name="base_link_lidar_joint" type="fixed">
        <origin xyz="0.177 0.0 0.265" rpy="0 -0.0 0.0" />
        <parent link="base_link" />
        <child link="lidar_link" />
    </joint>
    <joint name="base_link_wheel_right_joint" type="continuous">
        <origin xyz="0.0 -0.23 0.062" rpy="-1.5707963267948966 -0.0 0.0" />
        <parent link="base_link" />
        <child link="right_wheel_link" /> <axis xyz="0.0 0.0 1.0" />
    </joint>
    <joint name="base_link_wheel_left_joint" type="continuous">
        <origin xyz="0.0 0.23 0.062" rpy="1.5707963267948966 -0.0 0.0" />
        <parent link="base_link" />
        <child link="left_wheel_link" /> <axis xyz="0.0 0.0 -1.0" />
    </joint>
    <joint name="base_link_front_caster_joint" type="continuous">
        <origin xyz="0.146 0.0 0.032" rpy="3.141592653589793 -0.0 0.0" />
        <parent link="base_link" />
        <child link="front_caster_link" />
        <axis xyz="0.0 0.0 1.0" />
    </joint>
    <joint name="base_link_rear_caster_joint" type="continuous">
        <origin xyz="-0.146 0.0 0.032" rpy="0.0 -0.0 0.0" />
        <parent link="base_link" />
        <child link="rear_caster_link" />
        <axis xyz="0.0 0.0 1.0" />
    </joint>
    <joint name="front_caster_link_front_road_joint" type="continuous">
        <origin xyz="0.025 0.01413745 0.0455" rpy="1.5707963267948966 -0.0 0.0" />
        <parent link="front_caster_link" />
        <child link="front_road_link" />
        <axis xyz="0.0 0.0 -1.0" />
    </joint>
    <joint name="rear_caster_link_rear_road_joint" type="continuous">
        <origin xyz="0.025 -0.01413716 -0.045500000000000006" rpy="-1.5707963267948966 -0.0 0.0" />
        <parent link="rear_caster_link" />
        <child link="rear_road_link" />
        <axis xyz="-0.0 0.0 -1.0" />
    </joint>
    <joint name="base_footprint_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.038" rpy="0 0 0"/>
    </joint>
   
    <ros2_control name="BobertGazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <!-- Ruedas de tracción — igual que antes -->
        <joint name="base_link_wheel_right_joint">
            <command_interface name="velocity">
            <param name="min">-10.0</param>
            <param name="max">10.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="base_link_wheel_left_joint">
            <command_interface name="velocity">
            <param name="min">-10.0</param>
            <param name="max">10.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <!-- Castors — solo state, sin command (ruedas libres) -->
        <joint name="base_link_front_caster_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="base_link_rear_caster_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="front_caster_link_front_road_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="rear_caster_link_rear_road_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>
</robot>
